* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
.app {
  width: 100%;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.noteitem {
  flex-basis: 100%;
}

@media (max-width: 768px) {
  .noteitem {
    flex-basis: 100%;
  }
}
